:root {
    --tp-theme-color: #FFCF4E;
    --tp-primary-color: #063D30;
    --tp-primary-color-2: #055c4d;
    --tp-prink-color: #ff73ae;
    --tp-white-color: #fff;
    --tp-black-color: #121018;
    --tp-gray-color: #bd8b27;
    --tp-body-color: #5A5860;
    --tp-theme2-color: #073D30;
}